<div class="content-box content-box--neutral question-box" id="question-box--question-1">
  <h3>{{this.question}}</h3>
  <input type="radio" name="question-number--{{this.questionNumber}}" value="answer1">{{this.answers.[0]}}
  <br>
  <input type="radio" name="question-number--{{this.questionNumber}}" value="answer2">{{this.answers.[1]}}
  <br>
  <input type="radio" name="question-number--{{this.questionNumber}}" value="answer3">{{this.answers.[2]}}
  <br>
  <input type="radio" name="question-number--{{this.questionNumber}}" value="answer4">{{this.answers.[3]}}
</div>